nav {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    height: 50px;
    width: 100%;
}

.nav-link {
    text-decoration: none;
    color: #000;
    margin: 20px;
}
.nav-link:hover {
    color: rgb(236, 26, 26);
}